@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

body {
    font-family: 'Istok Web', sans-serif;
    background-color: #F4F3E7;
    margin: 0;
    padding: 80px 0 0 0;
}
header {
    background-color: #F4F3E7;
    text-align: center;
    color: #6D6D6D;
    padding: 20px;
    
}
header h1 {
    font-family: 'Syne', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}
/* menu buttons , hover functionality */
nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
nav a {
    margin: 0 10px; 
    text-decoration: none;
    color: #6D6D6D;
    font-weight: bold;
    font-size: 0.9rem; 
    padding: 8px 16px; 
    border-radius: 5px;
    background-color: #B2CE9A;
}
nav a:hover {
    background-color: #78d69c; 
}
/* container for menu */
.container {
    width: 80%;
    margin: auto;
}
/* featured items, padding for spacing */
.featured-items, .menu-section {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
}
/* text */
.featured-items h2, .menu-section h2 {
    font-family: 'Syne', sans-serif;
    font-size: 2rem;
    color: #6D6D6D;
    border-bottom: 2px solid #B2CE9A;
    padding-bottom: 10px;
}
/* img */
.featured-items .items {
    display: flex;
    justify-content: center;
    gap: 20px; 
}
.featured-items .item, .menu-section .item {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    
}
.item img {
    background-color: #FFF;
    max-width: 100%;
}
/* vertical section for the menu */
.menu-section .menu-columns {
    display: flex;
    justify-content: space-between;
    
}
.menu-column {
    width: 48%; 
    
}
.menu-column h3 {
    margin: 10px 0 5px;
    font-weight: bold;
    
}
.menu-column p {
    margin: 0 0 10px;
    
}
/* title menu */
.centered-heading {
    text-align: center;
    margin: 20px 0;
    font-family: 'Syne', sans-serif;
    font-size: 1.5rem;
    
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #F4F3E7;
}
